{% extends "../layouts//base.twig" %}

    {% block main_content %}

        <h1>Manage</h1>
        <nav>
            <ul>
                <li><a href="/products"></a>Products</li>
                <li><a href="/variants"></a>Variants</li>
                <li><a href="/images"></a>Images</li>
            </ul>
        </nav>
    {% endblock %}

{% block title %}Home View{% endblock %}