{% extends 'layouts/base.twig' %}

{% block main_content %}
<div class="m-12">
	<p>This is coming from view/images/create</p>
{% include 'views/variants/_form.twig' with { 'product': product } %}
</div>
{% endblock %}