{% extends 'layouts/base.twig' %}

{% block main_content %}
    {% include 'views/products/_form.twig' %}
{% endblock %}

{# {% extends 'layouts/base.twig' %}

{% block content %}
    <h1>Coming from templates/views/create.twig</h1>

    {% include 'views/products/_form.twig' %}

    {# {% include 'views/_form.twig' %} #}
{# {% endblock %} #} 