{% extends 'layouts/base.twig' %}

{% block main_content %}
<div class="m-12">
	<h2><strong>All Products:</strong></h2>
	<p>This is coming from view/products/index</p>
	<ul>
		{% for product in products %}
			<li class="mb-2" >
				{{ product.title }} ${{ product.price }} - 
				<a class="font-bold" href="/products/{{ product.id }}/edit">Edit</a> | <a class="font-bold" href="/products/{{ product.id }}/delete">Delete</a>
			</li>
		{% endfor %}
	</ul>
	<a class="font-bold underline" href="/products/new">Create New CD</a>
</div>
{% endblock %}